*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 700;
  list-style-type: none;
  text-decoration: none;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.orange{
  color: #FF9900;
}
.btn{
  background: linear-gradient(95.37deg, #FF6712 46.88%, #FF9900 100%);
  box-shadow: 0 6px 25px rgba(255, 145, 2, 0.6);
  border-radius: 183px;
  padding: 25px 60px;
}
.subtitle{
  font-size: 72px;
  line-height: 86px;
}
.benefits{
  background: #fff;
}
.benefits__content{
  display: flex;
  column-gap: 20px;
}
.benefits__card{
  width: calc(25% - 10px);
}
.benefits__card-img{
  border-radius: 150px 150px  150px 10px;
  border-bottom: #FF9900 10px solid;
  border-left: #FF9900 10px solid;
}
.benefits__card-text{
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  padding: 26px 0;
}